@import "libs/extends";

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

body {
	color: $primary;
}

img {
	max-width: 100%;
	height: auto;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           //for sites that are read right to left (i.e. hebrew)
.home {}                          // home page
.blog {}                          // blog template page
.archive {}                       // archive page
.date {}                          // date archive page
	.date-paged-1 {}                // replace the number to the corresponding page number
.search {}                        // search page
	.search-results {}              // search result page
	.search-no-results {}           // no results search page
	.search-paged-1 {}              // individual paged search (i.e. body.search-paged-3)
.error404 {}                      // 404 page

.single {
	.article-footer {
		padding: rhythm(4, $h2) 0;
		margin: rhythm(4, $h2) 0;
		border-bottom: 1px solid $accent-light;
		border-top: 1px solid $accent-light;
	}
}                        // single post page


.attachment { 						// attachment page
	// Center images on attachment pages
	img {
		display: block;
		margin: 0 auto;
	}
}
	.attachmentid-1 {}              // individual attatchment page (i.e. body.attachmentid-763)
	.attachment-mime-type {}        // style mime type pages
.author {}                        // author page
	.author-nicename {}             // user nicename (i.e. body.author-samueladams)
	.author-paged-1 {}              // paged author archives (i.e. body.author-paged-4) for page 4
.category {}                      // category page
	.category-1 {}                  // individual category page (i.e. body.category-6)
	.category-paged-1 {}            // replace the number to the corresponding page number
.tag {}                           // tag page
	.tag-slug {}                    // individual tag page (i.e. body.tag-news)
	.tag-paged-1 {}                 // replace the number to the corresponding page number
.page-template {}                 // custom page template page
	.page-template-page-php {}      // individual page template (i.e. body.page-template-contact-php
	.page-paged-1 {}                // replace the number to the corresponding page number
	.page-parent {}                 // parent page template
	.page-child {}                  // child page template
	.parent-pageid-1 {}             // replace the number to the corresponding page number
.logged-in {}                     // if user is logged in
.paged {}                         // paged items like search results or archives
	.paged-1 {}                     // individual paged (i.e. body.paged-3)

/*********************
GENERAL STYLES
*********************/

video {
  width: 100%    !important;
  height: auto   !important;
}


/*********************
HEADER STYLES
*********************/

.header {
	text-align: center;
	padding-top: $h3;
}

	.site-title {
		margin: 0 0 rhythm(1, 36px) 0;

		a {
			@include unstyled-link;
		}
	}

	.site-description {
		font-style: italic;
		@include adjust-font-size-to(18px);
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/


// Toggle menu by Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// http:// bradfrostweb.com

a.menu-link {
    display: block;
    text-align: center;
    color: $primary;
    background: #eee;
    padding: rhythm(1, 14px);
}

.nav {

	clear: both;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	.js & {
		overflow: hidden;
		max-height: 0;
	}

	&.active {
		max-height: 30em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li a {
		display: block;
		color: $primary;
	}
}

.sf-menu li {
	border-top: 1px solid $accent-light;
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: rhythm(2, 18px);
}

		.article-header {
			margin-bottom: rhythm(4, $h5);
		}
			.entry-title {
				margin-bottom: rhythm(1, 22px);
				font-size: $h2;

				a {
					color: $primary;
				}
			}


		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		// TODO: make these one class
		.archive-title, .page-title, .project-title, .project-thumb-title {
			@extend .text-center;
		}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.standard-layout .post {
			padding: rhythm(4, 22px) 0;
			border-top: $accent-light 1px solid;
		}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */

		.sticky {
			background-color: lighten($alert-yellow, 20%);
			border: 2px solid $alert-yellow;
			padding-left: $h3;
			padding-right: $h3;
		}

		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline, .form-allowed-tags {
			font-style: italic;

			time {}
		}

		.byline, .form-allowed-tags {
			color: #999;
		}

		.tags {
			@include nobullet;
			margin-bottom: 0;
		}

		.tags-title {
			//font-weight: 600;
		}


		/* entry content */
		.entry-content {
			margin-bottom: $h1;

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: $sml;
				color: #787878;
				margin-bottom: $h3;
			}

			img {
				@extend .max-width !optional;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption, .gallery-caption {
			max-width: 100%;
			padding: 5px;
			margin-bottom: $h3;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: $sml;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		.wp-caption {
			background: $accent-light;
		}



		/* image gallery styles */
		.gallery {
			margin: $base-font-size 0;
			img {
				@extend .max-width;
			}

			dl {

				a {}


			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {
			font-size: $sml;
		}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}


		.post-edit-link, .post-edit-link:visited {
			display: inline-block;
			color: darken($alert-red, 30%);
			font-weight: bold;
			text-transform: uppercase;
			margin: $default 0;
		}

// Project type styles

.project-loop {
	list-style: none;
}

.project-title, .page-title, .archive-title {
	@extend .uppercase-title;
	margin-top: 0;
}

.project-thumb img {
	margin-bottom: rhythm(3, $default);
	display: block;
	margin: 0 auto;
}

.project-thumb-title {
	font-size: $sml;
	margin-bottom: rhythm(4, $h5);
}

.artwork-meta > ul {
	@include nobullet;
}

// Breaks up the artwork meta section a bit
.aw-sep {
	margin-top: $h3;
}

.project-link a {
	@extend button;
	display: inline-block;
}

.pv-middle {
	text-align: center;
	padding-bottom: $default;
}

.project-taxonomies {
	.tags-title {
		display: block;
	}
	list-style: none;
	li a {
		background-color: $accent-light;
		padding: 0 0.25em;
	}

}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

// Is this mobile hide/show a shitty thing to do?
.mobile-hide {
	display: none;
}

.mobile-show {
	display: block;
}

.prev-next {
	padding-top: $h3;
}

.prev {
	float: left;
	font-weight: 700;
}

.next {
	float: right;
	font-weight: 700;
}

.page-navigation,
.wp-prev-next {
	// margin: $h5 0 $h1;
	text-align: center;

}
	.bones_page_navi {
		list-style-type: none;

		li {
			display: inline-block;
			margin-left: $sml;


			a {
				padding: 0 $sml/3;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					background-color: $accent-light;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 0 $sml/3;
			border-bottom: 1px solid $link-color;
			position: relative;
			background-color: $accent-light;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			margin-left: 0;
			margin-right: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			margin-right: 0;
			margin-left: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: $h3;
		padding: $sml;

		article {
			padding: $default;
		}

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: $sml;
			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {
				font-size: $default;
			}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: $h5;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -$sml;
		margin-left: -$sml;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: $h2;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			clear: both;
			&:before {
				content: ' | ';
			}

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: $sml;
			padding: 2px;
			top: $h4;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: $sml 0 $h3;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		@include button($secondary);

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	margin-top: $h2;
	padding-bottom: $h2;

	form {
		margin: $sml 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: $sml;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {


			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {
		@include button($secondary);
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 $h3;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: $h2 $h2 $h2 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 $h3 $h5;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {
		margin: $h2 0;

		ul {
			@include nobullet;
			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}


/*********************
FOOTER STYLES
*********************/

.footer {
	@include adjust-font-size-to(14px);
	margin-top: rhythm(4, $sml);
	text-align: center;

	.wrap {
		border-top: 1px solid $accent-light;
		padding: rhythm(1, $sml);
	}
}

	.copyright {}



/*********************
WPFOLIO FEATURES
*********************/


// Fluid videos
// http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
.media-wrap {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: $h1;
    height: 0;
    overflow: hidden;
    margin: 0 auto $h1;
}

.media-wrap {
	iframe, object, embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}
