/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Tablet & Small Desktop Stylesheet

Hey grid, come on in!
Widemargins shortcode styles, hey!
More detailed menu styling, nice to see you!

TODO: more consistent margins and padding, modular maybe

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}



/*********************
LAYOUT & GRID STYLES
*********************/

// If js is active, 
// Hide the home content for the fade in 
.js {
	.home #content, .home .footer {
		display: none;
	}
}


/*********************
HEADER STYLES
*********************/

.header {
	
}

#inner-header {
	// Overriding the clearfix overflow: hidden for dropdowns
	overflow: visible;
}

/*********************
NAVIGATION STYLES
*********************/

// Brad Frost toggle menu
// http://codepen.io/bradfrost/pen/sHvaz

a.menu-link {
   display: none;
}

.js nav[role=navigation] {
	max-height: none;
	overflow: visible;
}

nav[role=navigation] {
	clear: none;

	ul {
	}

	li {
		display: block;
	}
} // End toggle nav


// .nav {
// 	border: 0;

// 	li {

// 		a {
// 			border-bottom: 0;
// 			padding: rhythm(1, $h5) rhythm(2, $h5);

// 			&:hover {
// 				background-color: $menu-item-hover;	
// 			}
// 		}

// 		&:first-child {}
// 		&:last-child {}

// 		/*
// 		plan your menus and drop-downs wisely.
// 		*/
// 		// ul.sub-menu,
// 		// ul.children {
// 		// 	text-align: left;
// 		// 	margin-top: 0;
// 		// 	position: absolute;
// 		// 	z-index: 8999;
// 		// 	display: none;
// 		// 	background-color: $accent-light;
// 		// 	width: 160px;
			
// 		// 	li {
// 		// 		width: 100%;

// 		// 		&:last-child {
// 		// 			border-bottom: 0;
// 		// 		}

// 		// 		a {
// 		// 			text-align: left;
// 		// 			padding-left: rhythm(3, $p);
					
// 		// 			&:hover,
// 		// 			&:focus {
// 		// 				background-color: $menu-item-hover;
// 		// 			}

// 		// 			&:link {}
// 		// 		}

// 		// 		&:first-child {}

// 		// 		&:last-child {

// 		// 			a {
// 		// 				border-bottom: 0;
// 		// 			}
// 		// 		}

// 		// 		/*
// 		// 		if you need to go deeper, go nuts
// 		// 		just remember deeper menus suck
// 		// 		for usability. k, bai.
// 		// 		*/
// 		// 		ul {}
// 		// 	}

// 		// 	/* highlight sub-menu current page */
// 		// 	li.current-menu-item,
// 		// 	li.current_page_item,
// 		// 	li.current-page-ancestor {
// 		// 		a {
// 		// 			background-color: $menu-item-hover;
// 		// 		}
// 		// 	}
// 		// }

// 		// /* showing sub-menus */
// 		// &:hover ul {
// 		// 	top: auto;
// 		// 	display: block;
// 		// }

// 	} /* end .menu ul li */

// 	/* highlight current page */
// 	li.current-menu-item,
// 	li.current_page_item,
// 	li.current-page-ancestor {
// 		a {}
// 	}  /* end current highlighters */

// } /* end .nav */

.sf-menu > li {
	float: left;
}


// Adding superfish hover styles

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu > li:hover,
.sf-menu > li.sfHover {
	background: $accent-light;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;

	li:hover {
		background-color: $accent-med;
	}
}

.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

/*********************
POSTS & CONTENT STYLES
*********************/

// Hover styles for gallery and project thumbs
.project-thumb, .gallery-item {
	img {
		opacity: 1;
		
		&:hover {
			opacity: 0.6;
		}

		&:active {
			opacity: 1;
		}
	}
}

.project-taxonomies a {
	&:hover {
		background-color: $accent-med;
		color: $white; 
	}
}

.project-meta {
	padding-bottom: 0;
}

.comment_content {
	margin-left: 50px;
}

.mobile-hide {
	display: block;
}

.mobile-show {
	display: none;	
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	
}

	.widgettitle {
		text-align: left;
	}

	.widget {
		padding: 0 $h5;
		border-left: $accent-light 1px solid;

		ul {
			@include nobullet;

			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/

.footer-nav {

	li {
		a {
			padding-top: 0;

			&:hover {}
		}
		/*
		be careful with the depth of your menus.
		it's very rare to have multi-depth menus in
		the footer.
		*/
		ul {}
	}
} /* end .footer-nav */

.copyright {
	text-align: right;
}

