
// ----
// ---- WordPress Body classes
// ----


.single {
	.article-footer {
		padding: rhythm(4, $h2) 0;
		margin: rhythm(4, $h2) 0;
		border-bottom: 1px solid $accent-light;
		border-top: 1px solid $accent-light;
	}
}

.attachment {
	// Center images on attachment pages
	img {
		display: block;
		margin: 0 auto;
	}
}
	

// ----
// ---- Site Header
// ----

.header {
	padding-top: $h1;
	text-align: center;

	@media (min-width: $desktop) {
		text-align: left;
	}
}

#inner-header {
	@include bp(mama) {
		
		// Overriding the clearfix overflow: hidden for dropdowns
		// overflow: visible;
	}
}


.site-title {
	margin: 0 0 rhythm(1, 36px) 0;

	a {
		@include unstyled-link;
	}
}

.site-description {
	font-style: italic;
	@include adjust-font-size-to(18px);
}




// ----
// ---- Posts & Content
// ----

#content {
	margin-top: rhythm(2, 18px);
}

// Article
.article-header {
	margin-bottom: rhythm(4, $h5);
}
	.entry-title {
		margin-bottom: rhythm(1, 22px);
		font-size: $h2;

		a {
			color: $primary;
		}
	}


.hentry {

	header {}

	footer {}

} /* end .hentry */

// TODO: make these one class
.archive-title, .page-title, .project-title, .project-thumb-title {
	@extend .text-center;
}

// Project thumbnail styles

.project-thumb {
	@include bp(papa) {
		&:hover	 { opacity: 0.6; }
		&:active { opacity: 0.8; }
	}
}

.project-thumb-title {
	@extend %line-clamp;
}

.standard-layout .post {
	padding: rhythm(4, 22px) 0;
	border-top: $accent-light 1px solid;
}

.sticky {
	background-color: lighten($alert-yellow, 20%);
	border: 2px solid $alert-yellow;
	padding-left: $h3;
	padding-right: $h3;
}

// Post meta
.byline, .form-allowed-tags {
	font-style: italic;

	time {}
}

.byline, .form-allowed-tags {
	color: #999;
}

.tags {
	@include nobullet;
	margin-bottom: 0;
}

.tags-title {
	//font-weight: 600;
}


// ----
// Entry Content
// ----

.entry-content {
	margin-bottom: $h1;

	p {}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	blockquote {

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: $sml;
		color: #787878;
		margin-bottom: $h3;
	}

	img {
		@extend .max-width !optional;
	}

	// Add image alignment at large sizes
	@include bp(mama) {
		
		.alignleft, img.alignleft { 
			margin-right: $h2; 
			display: inline; 
			float: left; 
		}
		.alignright, img.alignright { 
			margin-left: $h2; 
			display: inline; 
			float: right; 
		}
		.aligncenter, img.aligncenter { 
			margin-right: auto; 
			margin-left: auto; 
			display: block; 
			clear: both; 
		}
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

}

// ----
// WordPress Gallery styles
// ----

.wp-caption, .gallery-caption {
	max-width: 100%;
	padding: 5px;
	margin-bottom: $h3;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: $sml;
		margin: 4px 0 7px;
		text-align: center;
	}

}

.wp-caption {
	background: $accent-light;
}



/* image gallery styles */
.gallery {
	margin: $base-font-size 0;
	img {
		max-width: 100%;
	}

	dl {

		a {}


	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {
	font-size: $sml;
}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}


.post-edit-link, .post-edit-link:visited {
	display: inline-block;
	color: darken($alert-red, 30%);
	font-weight: bold;
	text-transform: uppercase;
	margin: $default 0;
}




// ----
// ---- Comment Styles
// ----

.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: $h3;
		padding: $sml;

		article {
			padding: $default;
		}

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: $sml;
			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}
			.byuser {}
			.bypostauthor {
				font-size: $default;
			}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: $h5;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -$sml;
		margin-left: -$sml;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	.vcard {
		margin-left: $h2;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			clear: both;
			&:before {
				content: ' | ';
			}

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: $sml;
			padding: 2px;
			top: $h4;
			border: 1px solid #cecece;
			background: #fff;
		}

	}


	// Comment Meta

	.comment-meta {
		a {}
	}

	.commentmetadata {
		a {}
	}


	// Comment Content

	.comment_content {

		p {
			margin: $sml 0 $h3;
		}

	}


	// Comment Reply Link

	.comment-reply-link {
		text-decoration: none;
		float: right;
		@include button($secondary);
	}

}



// ----
// ---- Comment Form Styles
// ----

.comment-respond {
	margin-top: $h2;
	padding-bottom: $h2;

	form {
		margin: $sml 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: $sml;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {


			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {
		@include button($secondary);
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 $h3;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: $h2 $h2 $h2 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 $h3 $h5;
	}



// ----
// ---- Sidebar and Asides
// ----

.widget {
	margin: $h2 0;

	ul { @include nobullet; }
}


@include bp(mama) {
	.widgettitle {
		text-align: left;
	}

	.widget {
		padding: 0 $h5;
		border-left: $accent-light 1px solid;

		ul {
			@include nobullet;

			li {
				margin-bottom: $sml;
			}
		}
	}
}


	
// ----
// ---- Footer
// ----

.footer {
	@include adjust-font-size-to(14px);
	margin-top: rhythm(4, $sml);
	text-align: center;

	.wrap {
		border-top: 1px solid $accent-light;
		padding: rhythm(1, $sml);
	}
}


@include bp(mama) {

	.copyright {
		float: right;
	}

	.credits {
		float: left;
	}

}


