/*****
 * Site Nav Styles
 *****/

/**
 * Toggle menu by Brad Frost
 * http://codepen.io/bradfrost/pen/sHvaz
 * http:// bradfrostweb.com
 *
 */

a.menu-link {
    display: block;
    text-align: center;
    color: $primary;
    background: #eee;
    padding: rhythm(1, 14px);
}

.nav {

	clear: both;
	transition: all 0.3s ease-out;

	.js & {
		overflow: hidden;
		max-height: 0;
	}

	&.active {
		max-height: 30em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li a {
		display: block;
		color: $primary;
	}
}

.sf-menu {
	@include bp(papa) {
		float: right;
	}

	li {
		border-top: 1px solid $accent-light;

		@include bp(papa) {
			border-top: none;
		}
	}	
}


// ----
// ---- Page Nav Styles
// ----

// Is this mobile hide/show a shitty thing to do?

.prev-next {
	padding-top: $h3;
}

.prev {
	float: left;
	font-weight: 700;
}

.next {
	float: right;
	font-weight: 700;
}

.page-navigation,
.wp-prev-next {
	text-align: center;

}
	.bones_page_navi {
		list-style-type: none;

		li {
			display: inline-block;
			margin-left: $sml;


			a {
				padding: 0 $sml/3;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					background-color: $accent-light;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 0 $sml/3;
			border-bottom: 1px solid $link-color;
			position: relative;
			background-color: $accent-light;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			margin-left: 0;
			margin-right: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			margin-right: 0;
			margin-left: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


@include bp(mama) {

	// ----
	// ---- Mobile Nav
	// ----

	// Toggle menu by Brad Frost
	// http://codepen.io/bradfrost/pen/sHvaz

	// Hide the mobile nav link
	a.menu-link {
	   display: none;
	}

	.nav {
		clear: none;
		display: inline-block;
		
		.js & {
			max-height: none;
			overflow: visible;	
		}

		li {
			display: block;
		}
	}
	// End toggle nav

	.sf-menu ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
	}

	.sf-menu ul li {
		background: $accent-light;
	}
	.sf-menu ul ul li {
		background: $accent-light;
	}	

	.sf-menu > li {
		float: left;
	}

	// Adding superfish hover styles

	.sf-menu li:hover > ul,
	.sf-menu li.sfHover > ul {
		display: block;
	}

	.sf-menu > li:hover,
	.sf-menu > li.sfHover {
		background: $accent-light;
		-webkit-transition: none;
		transition: none;

		li:hover {
			background-color: $accent-med;
			a {
				color: $primary;
			}
		}
	}

	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after {
		border-left-color: white;
	}

}
