/**
 *
 * Site Nav Styles
 *
 */

//
// Toggle menu by Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// http:// bradfrostweb.com
//

.menu-link {
    display: block;
    text-align: center;
    color: $primary;
    background: #eee;
    padding: rhythm(1, 14px);
}

.nav {

	clear: both;
	transition: all 0.3s ease-out;

	.js & {
		overflow: hidden;
		max-height: 0;
	}

	&.active {
		max-height: 30em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li a {
		display: block;
		color: $primary;

		&:hover {
			color: $primary;
		}
	}
}

.current-menu-item,
.current-category-ancestor, 
.current-menu-ancestor, 
.current-menu-parent, 
.current-category-parent {
	background-color: lighten($accent-light, 2%);

	.sub-menu & {
		background-color: darken($accent-light, 5%);
	}
}

.sf-menu {
	@include bp(papa) {
		float: right;
	}

	li {
		border-top: 1px solid $accent-light;

		@include bp(papa) {
			border-top: none;
		}
	}	
}


// ----
// ---- Page Nav Styles
// ----

// Is this mobile hide/show a shitty thing to do?

.prev-next {
	padding: $h3 0;
	@include clearfix;
	a {
		@extend %unstyled-link;
	}
}

.mobile-prevnext {
	@extend .mobile-show;
	@include clearfix();
	margin-top: $h3;
	width: 100%;
}

.prev {
	float: left;
	font-weight: 700;
	@extend .mobile-hide;
}

.next {
	float: right;
	font-weight: 700;
	@extend .mobile-hide;
}

.nav-meta {
	text-align: center;
}

.page-navigation,
.wp-prev-next {
	text-align: center;

}
	.bones_page_navi {
		list-style-type: none;

		li {
			display: inline-block;
			margin-left: $sml;

			a {
				padding: 0 $sml/3;
				display: block;
				position: relative;

				&:hover,
				&:focus {
					background-color: $accent-light;
					text-decoration: none;
				}
			}

		}

		/* current page link */
		.bpn-current {
			padding: 0 $sml/3;
			position: relative;
			background-color: $accent-light;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {
				}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		.bpn-prev-link,
		.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		.bpn-prev-link a:hover,
		.bpn-next-link a:hover,
		.bpn-first-page-link a:hover,
		.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		.bpn-prev-link {
			margin-left: 0;
			margin-right: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		.bpn-next-link {
			margin-right: 0;
			margin-left: $h2;
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


@include bp(mama) {

	// ----
	// ---- Mobile Nav
	// ----

	// Toggle menu by Brad Frost
	// http://codepen.io/bradfrost/pen/sHvaz

	// Hide the mobile nav link
	a.menu-link {
	   display: none;
	}

	.nav {
		clear: none;
		display: inline-block;
		
		.js & {
			max-height: none;
			overflow: visible;	
		}

		li {
			display: block;
		}
	}
	// End toggle nav

	.sf-menu ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
	}

	.sf-menu ul li {
		background: $accent-light;
	}
	.sf-menu ul ul li {
		background: $accent-light;
	}	

	.sf-menu > li {
		float: left;
	}

	// Adding superfish hover styles

	.sf-menu li:hover > ul,
	.sf-menu li.sfHover > ul {
		display: block;
	}

	.sf-menu > li:hover,
	.sf-menu > li.sfHover {
		background: $accent-light;
		-webkit-transition: none;
		transition: none;

		li:hover {
			background-color: $accent-med;
			a {
				color: $primary;
			}
		}
	}

	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after {
		border-left-color: white;
	}

}
