/******************************************************************

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.header {
	text-align: left;
}
.sf-menu {
	float: right;

	li {
		border-top: none;
	}
}
.project-taxonomies {
	.tags-title {
		display: inline;
	}
}

