/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/* line 4, ../scss/libs/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/libs/_normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../scss/libs/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/libs/_normalize.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../scss/libs/_normalize.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../scss/libs/_normalize.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../scss/libs/_normalize.scss */
a img {
  border: none;
}

/* line 12, ../scss/libs/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../scss/libs/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 19, ../scss/libs/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../scss/libs/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../scss/libs/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../scss/libs/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 10, ../scss/libs/_extends.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 14, ../scss/libs/_extends.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/libs/_extends.scss */
.max-width, .entry-content img, .gallery img, .project-thumb img {
  max-width: 100%;
  height: auto;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 27, ../scss/libs/_extends.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 33, ../scss/libs/_extends.scss */
.text-left {
  text-align: left;
}

/* line 34, ../scss/libs/_extends.scss */
.text-center {
  text-align: center;
}

/* line 35, ../scss/libs/_extends.scss */
.text-right {
  text-align: right;
}

/*********************
BUTTONS
*********************/
/* line 42, ../scss/libs/_extends.scss */
.button, .commentlist .comment-reply-link, #submit, .button:visited, .commentlist .comment-reply-link:visited, #submit:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #4398e6;
  border-top-color: #5ea7ea;
  border-left-color: #5ea7ea;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background: linear-gradient(#7eb8ee, #67aceb);
}
/* line 61, ../scss/libs/_extends.scss */
.button:hover, .commentlist .comment-reply-link:hover, #submit:hover, .button:focus, .commentlist .comment-reply-link:focus, #submit:focus, .button:visited:hover, .commentlist .comment-reply-link:visited:hover, #submit:visited:hover, .button:visited:focus, .commentlist .comment-reply-link:visited:focus, #submit:visited:focus {
  color: white;
  border: 1px solid #4398e6;
  border-top-color: #2486e2;
  border-left-color: #2486e2;
  background: linear-gradient(#67aceb, #519fe8);
}
/* line 69, ../scss/libs/_extends.scss */
.button:active, .commentlist .comment-reply-link:active, #submit:active, .button:visited:active, .commentlist .comment-reply-link:visited:active, #submit:visited:active {
  background: linear-gradient(#67aceb, #7eb8ee);
}

/* line 74, ../scss/libs/_extends.scss */
.blue-button, .blue-button:visited {
  border-color: #a9daf1;
  text-shadow: 0 1px 1px #a9daf1;
  background: linear-gradient(#d5edf8, #bfe4f4);
  box-shadow: inset 0 0 3px white;
}
/* line 80, ../scss/libs/_extends.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #93d1ed;
  background: linear-gradient(#c4e6f5, #a9daf1);
}
/* line 84, ../scss/libs/_extends.scss */
.blue-button:active, .blue-button:visited:active {
  background: linear-gradient(#bfe4f4, #d5edf8);
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 16, ../scss/_base.scss */
body {
  color: #666666;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* line 41, ../scss/_base.scss */
.attachment img {
  display: block;
  margin: 0 auto;
}

/* line 46, ../scss/_base.scss */
.attachment-meta {
  text-align: center;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/* line 79, ../scss/_base.scss */
.header {
  padding-top: 2.2em;
}

/* line 83, ../scss/_base.scss */
#site-title {
  margin: 0 0 0.22222em 0;
}

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
/* line 100, ../scss/_base.scss */
.nav li a {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
/* line 112, ../scss/_base.scss */
.nav ul.sub-menu li a,
.nav ul.children li a {
  padding-left: 30px;
}

/* line 120, ../scss/_base.scss */
.top-nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 124, ../scss/_base.scss */
.top-nav li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 126, ../scss/_base.scss */
.top-nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 183, ../scss/_base.scss */
.top-nav li.current-menu-item a,
.top-nav li.current_page_item a,
.top-nav li.current-page-ancestor a {
  background-color: #eeeeee;
}

/* end .nav */
/* line 194, ../scss/_base.scss */
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

/* line 200, ../scss/_base.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 209, ../scss/_base.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/* line 214, ../scss/_base.scss */
nav[role=navigation].active {
  max-height: 15em;
}

/* line 218, ../scss/_base.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}

/* line 224, ../scss/_base.scss */
nav[role=navigation] li a {
  display: block;
  border-bottom: 1px solid #808080;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 234, ../scss/_base.scss */
#content {
  margin-top: 2.2em;
}

/* end .hentry */
/* line 247, ../scss/_base.scss */
.page-title, .project-title, .project-thumb-title, .medium-title {
  text-align: center;
}

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 264, ../scss/_base.scss */
.byline {
  color: #999;
}

/* line 270, ../scss/_base.scss */
.tags-title {
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1.33333em;
}

/* entry content */
/* line 277, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 312, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 333, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 338, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 346, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 352, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 358, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* line 367, ../scss/_base.scss */
.gallery {
  margin: 16px 0;
}

/* end .gallery */
/* gallery caption styles */
/* line 397, ../scss/_base.scss */
.project-title {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.77778em;
}

/* line 409, ../scss/_base.scss */
.artwork-meta {
  list-style-type: none;
}

/* line 415, ../scss/_base.scss */
.single-project.single-format-video iframe {
  width: 100%;
  height: 400px;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 427, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 430, ../scss/_base.scss */
.bones_page_navi {
  list-style-type: none;
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 432, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 436, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 443, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 452, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 457, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 468, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 471, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 480, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 523, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 527, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 538, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 555, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 557, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 565, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 569, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 587, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 591, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 596, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 610, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 613, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 628, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 631, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 639, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 642, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 646, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 656, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 681, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 684, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 693, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 706, ../scss/_base.scss */
.respond-form {
  padding-bottom: 2.2em;
}
/* line 710, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 713, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 719, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 727, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 733, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 738, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 751, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 756, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 771, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 784, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 789, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 805, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 826, ../scss/_base.scss */
.footer {
  clear: both;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 830, ../scss/_base.scss */
.footer .wrap {
  border-top: 1px solid #eeeeee;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* line 844, ../scss/_base.scss */
.footer-nav {
  list-style-type: none;
}

/* end .footer-links */
/*********************
WPFOLIO FEATURES
*********************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 26, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 27, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 28, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 29, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* line 98, ../scss/_481up.scss */
.gallery dl {
  float: left;
}

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Tablet & Small Desktop Stylesheet

Hey grid, come on in!
Widemargins shortcode styles, hey!
More detailed menu styling, nice to see you!

TODO: more consistent margins and padding, modular maybe

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_768up.scss */
.widemargins {
  margin: 0 96px;
}

/*********************
HEADER STYLES
*********************/
/* line 37, ../scss/_768up.scss */
#site-title {
  text-align: left;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 49, ../scss/_768up.scss */
a.menu-link {
  display: none;
}

/* line 53, ../scss/_768up.scss */
.js nav[role=navigation] {
  max-height: none;
}

/* line 57, ../scss/_768up.scss */
nav[role=navigation] {
  clear: none;
}
/* line 60, ../scss/_768up.scss */
nav[role=navigation] ul {
  margin: 0 0 0 -0.25em;
  border: 0;
}
/* line 64, ../scss/_768up.scss */
nav[role=navigation] li {
  display: inline-block;
  margin: 0 0.25em;
}
/* line 68, ../scss/_768up.scss */
nav[role=navigation] li a {
  border: 0;
}

/* line 77, ../scss/_768up.scss */
.nav li {
  float: left;
  position: relative;
}

/* line 83, ../scss/_768up.scss */
.top-nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 86, ../scss/_768up.scss */
.top-nav li {
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 88, ../scss/_768up.scss */
.top-nav li a {
  border-bottom: 0;
  padding: 0.44444em;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 95, ../scss/_768up.scss */
.top-nav li a:hover, .top-nav li a:focus {
  background-color: #eeeeee;
}
/* line 108, ../scss/_768up.scss */
.top-nav li ul.sub-menu,
.top-nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 116, ../scss/_768up.scss */
.top-nav li ul.sub-menu li,
.top-nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 118, ../scss/_768up.scss */
.top-nav li ul.sub-menu li a,
.top-nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 135, ../scss/_768up.scss */
.top-nav li ul.sub-menu li:last-child a,
.top-nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 157, ../scss/_768up.scss */
.top-nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 178, ../scss/_768up.scss */
.project-thumb img {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
/* line 180, ../scss/_768up.scss */
.project-thumb img:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
/* line 184, ../scss/_768up.scss */
.project-thumb img:active {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 194, ../scss/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 198, ../scss/_768up.scss */
.widgettitle {
  text-align: left;
}

/* line 202, ../scss/_768up.scss */
.widget {
  padding: 0 12px;
  margin: 32px 0;
  border-left: #eeeeee 1px solid;
}
/* line 207, ../scss/_768up.scss */
.widget ul {
  list-style-type: none;
}
/* line 210, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 218, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 327, ../scss/_768up.scss */
.footer-nav li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}
/* line 328, ../scss/_768up.scss */
.footer-nav li a {
  padding-top: 0;
}

/* end .footer-nav */
/* line 342, ../scss/_768up.scss */
.copyright {
  text-align: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 12, ../scss/_1030up.scss */
.wrap {
  max-width: 960px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
