/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/* line 4, ../scss/libs/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../scss/libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../scss/libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../scss/libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../scss/libs/_reset.scss */
a img {
  border: none;
}

/* line 12, ../scss/libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../scss/libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, ../scss/libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../scss/libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../scss/libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../scss/libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 14, ../scss/_base.scss */
body {
  color: #666666;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 63, ../scss/_base.scss */
.wrap {
  width: 93%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
/* line 72, ../scss/_base.scss */
a, a:visited {
  color: #666666;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 77, ../scss/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #222222;
}
/* line 82, ../scss/_base.scss */
a:active, a:visited:active {
  color: #666666;
}
/* line 87, ../scss/_base.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
/* line 115, ../scss/_base.scss */
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 119, ../scss/_base.scss */
.nav li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 121, ../scss/_base.scss */
.nav li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 155, ../scss/_base.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* line 180, ../scss/_base.scss */
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current-page-ancestor a {
  background-color: #444444;
}

/* end .nav */
/*! responsive-nav.js v1.0.22 by @viljamis */
/* line 191, ../scss/_base.scss */
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 198, ../scss/_base.scss */
.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

/* line 204, ../scss/_base.scss */
.nav-collapse li {
  float: left;
  width: 100%;
}

/* line 209, ../scss/_base.scss */
.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

/* line 214, ../scss/_base.scss */
.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #f4421a url("../images/hamburger.gif") no-repeat 50% 33%;
}

/* line 228, ../scss/_base.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

/* line 236, ../scss/_base.scss */
.nav-collapse li {
  width: 100%;
  display: block;
}

/* line 241, ../scss/_base.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 250, ../scss/_base.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 254, ../scss/_base.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 268, ../scss/_base.scss */
#content {
  margin-top: 2.2em;
}

/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 300, ../scss/_base.scss */
.byline {
  color: #999;
}

/* entry content */
/* line 307, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 342, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 349, ../scss/_base.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 365, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 370, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 378, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 384, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 390, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 428, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 431, ../scss/_base.scss */
.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 433, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 437, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 444, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 453, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 458, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 469, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 472, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 481, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 524, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 528, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 539, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 556, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 558, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 566, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 570, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 588, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 592, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 597, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 611, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 614, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 629, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 632, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 640, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 643, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 647, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 657, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 682, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 685, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 694, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 706, ../scss/_base.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 718, ../scss/_base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 722, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 725, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 731, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 739, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 745, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 750, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 763, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 768, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 781, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 794, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 799, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 815, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 836, ../scss/_base.scss */
.footer {
  clear: both;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 26, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 27, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 28, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 29, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 40, ../scss/_768up.scss */
.nav {
  border: 0;
  float: right;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 44, ../scss/_768up.scss */
.nav li {
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 48, ../scss/_768up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 55, ../scss/_768up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #eeeeee;
}
/* line 68, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 76, ../scss/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 78, ../scss/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 95, ../scss/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 117, ../scss/_768up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/*! responsive-nav.js v1.0.22 by @viljamis */
/* line 135, ../scss/_768up.scss */
.nav-collapse li {
  width: auto;
}

/* line 139, ../scss/_768up.scss */
.nav-collapse a {
  margin: 0;
  padding: 1em;
  float: left;
  text-align: center;
  border-bottom: 0;
}

/* line 148, ../scss/_768up.scss */
.nav-collapse ul ul a {
  display: none;
}

/* line 152, ../scss/_768up.scss */
.js .nav-collapse {
  position: relative;
}

/* line 156, ../scss/_768up.scss */
.js .nav-collapse.closed {
  max-height: none;
}

/* line 160, ../scss/_768up.scss */
.nav-toggle {
  display: none;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 169, ../scss/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 173, ../scss/_768up.scss */
.widgettitle {
  margin-bottom: 0.75em;
}

/* line 177, ../scss/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 182, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 190, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 298, ../scss/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 12, ../scss/_1030up.scss */
.wrap {
  max-width: 960px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
