/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/* line 4, ../scss/libs/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/libs/_normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../scss/libs/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/libs/_normalize.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../scss/libs/_normalize.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../scss/libs/_normalize.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../scss/libs/_normalize.scss */
a img {
  border: none;
}

/* line 12, ../scss/libs/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../scss/libs/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 19, ../scss/libs/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../scss/libs/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../scss/libs/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../scss/libs/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 10, ../scss/libs/_extends.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 14, ../scss/libs/_extends.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/libs/_extends.scss */
.max-width, .entry-content img, .gallery img, .project-thumb img {
  max-width: 100%;
  height: auto;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 27, ../scss/libs/_extends.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 33, ../scss/libs/_extends.scss */
.text-left {
  text-align: left;
}

/* line 34, ../scss/libs/_extends.scss */
.text-center {
  text-align: center;
}

/* line 35, ../scss/libs/_extends.scss */
.text-right {
  text-align: right;
}

/*********************
BUTTONS
*********************/
/* line 42, ../scss/libs/_extends.scss */
.button, .commentlist .comment-reply-link, #submit, .button:visited, .commentlist .comment-reply-link:visited, #submit:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #898989;
  border-top-color: #989898;
  border-left-color: #989898;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background: linear-gradient(#aaaaaa, #9d9d9d);
}
/* line 61, ../scss/libs/_extends.scss */
.button:hover, .commentlist .comment-reply-link:hover, #submit:hover, .button:focus, .commentlist .comment-reply-link:focus, #submit:focus, .button:visited:hover, .commentlist .comment-reply-link:visited:hover, #submit:visited:hover, .button:visited:focus, .commentlist .comment-reply-link:visited:focus, #submit:visited:focus {
  color: white;
  border: 1px solid #898989;
  border-top-color: #777777;
  border-left-color: #777777;
  background: linear-gradient(#9d9d9d, #909090);
}
/* line 69, ../scss/libs/_extends.scss */
.button:active, .commentlist .comment-reply-link:active, #submit:active, .button:visited:active, .commentlist .comment-reply-link:visited:active, #submit:visited:active {
  background: linear-gradient(#9d9d9d, #aaaaaa);
}

/* line 74, ../scss/libs/_extends.scss */
.blue-button, .blue-button:visited {
  border-color: #a9daf1;
  text-shadow: 0 1px 1px #a9daf1;
  background: linear-gradient(#d5edf8, #bfe4f4);
  box-shadow: inset 0 0 3px white;
}
/* line 80, ../scss/libs/_extends.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #93d1ed;
  background: linear-gradient(#c4e6f5, #a9daf1);
}
/* line 84, ../scss/libs/_extends.scss */
.blue-button:active, .blue-button:visited:active {
  background: linear-gradient(#bfe4f4, #d5edf8);
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 16, ../scss/_base.scss */
body {
  color: #666666;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* line 41, ../scss/_base.scss */
.attachment img {
  display: block;
  margin: 0 auto;
}

/* line 46, ../scss/_base.scss */
.attachment-meta {
  text-align: center;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/* line 79, ../scss/_base.scss */
.header {
  padding-top: 2.2em;
}

/* line 83, ../scss/_base.scss */
.site-title {
  margin: 0 0 0.22222em 0;
}
/* line 86, ../scss/_base.scss */
.site-title a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.site-title a:active, .site-title a:focus {
  outline: none;
}

/* line 91, ../scss/_base.scss */
.site-description {
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.33333em;
}

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
/* line 109, ../scss/_base.scss */
.nav li a {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
/* line 121, ../scss/_base.scss */
.nav ul.sub-menu li a,
.nav ul.children li a {
  padding-left: 30px;
}

/* line 129, ../scss/_base.scss */
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 133, ../scss/_base.scss */
.nav li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 135, ../scss/_base.scss */
.nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 192, ../scss/_base.scss */
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current-page-ancestor a {
  background-color: #eeeeee;
}

/* end .nav */
/* line 203, ../scss/_base.scss */
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

/* line 209, ../scss/_base.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 218, ../scss/_base.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/* line 223, ../scss/_base.scss */
nav[role=navigation].active {
  max-height: 15em;
}

/* line 227, ../scss/_base.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}

/* line 233, ../scss/_base.scss */
nav[role=navigation] li a {
  display: block;
  border-bottom: 1px solid #808080;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 243, ../scss/_base.scss */
#content {
  margin-top: 0.88889em;
}

/* line 247, ../scss/_base.scss */
.article-header {
  margin-bottom: 1.77778em;
}

/* line 250, ../scss/_base.scss */
.entry-title {
  margin-bottom: 0.36364em;
  font-size: 1.875em;
  line-height: 1.33333em;
}
/* line 254, ../scss/_base.scss */
.entry-title a {
  color: #666666;
}

/* line 261, ../scss/_base.scss */
.article-footer {
  margin-top: 1.77778em;
}

/* end .hentry */
/* line 273, ../scss/_base.scss */
.page-title, .project-title, .project-thumb-title, .medium-title {
  text-align: center;
}

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* line 281, ../scss/_base.scss */
.post {
  padding: 1.45455em 0;
  border-top: #eeeeee 1px solid;
}

/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 293, ../scss/_base.scss */
.byline {
  font-style: italic;
}

/* line 299, ../scss/_base.scss */
.tags, .byline {
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #999;
}

/* line 304, ../scss/_base.scss */
.tags-title {
  text-transform: uppercase;
}

/* entry content */
/* line 310, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 345, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 366, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 371, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 379, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 385, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 391, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* line 400, ../scss/_base.scss */
.gallery {
  margin: 16px 0;
}

/* end .gallery */
/* gallery caption styles */
/* line 428, ../scss/_base.scss */
.post-edit-link, .post-edit-link:visited {
  color: #e85d63;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 436, ../scss/_base.scss */
.project-title {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.77778em;
}

/* line 444, ../scss/_base.scss */
.project-thumb img {
  margin-bottom: 0.5em;
}

/* line 449, ../scss/_base.scss */
.artwork-meta {
  list-style-type: none;
  margin-top: 1em;
}

/* line 457, ../scss/_base.scss */
.single-project.single-format-video iframe {
  width: 100%;
  height: 200px;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 469, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 472, ../scss/_base.scss */
.bones_page_navi {
  list-style-type: none;
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 474, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 478, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 485, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 494, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 499, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 510, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 513, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 522, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 565, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 569, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 580, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 597, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 599, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 607, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 611, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 629, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 633, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 638, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 652, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 655, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 670, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 673, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 681, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 684, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 688, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 698, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 723, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 726, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 735, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 748, ../scss/_base.scss */
.respond-form {
  margin-top: 1.77778em;
  padding-bottom: 0.44444em;
}
/* line 752, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 755, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 761, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 769, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 0.1875em 0.375em;
  background: #efefef;
  color: #666666;
  border: 0.0625em solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 776, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 781, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 794, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 799, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 814, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 827, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 832, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 848, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 869, ../scss/_base.scss */
.footer {
  clear: both;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 874, ../scss/_base.scss */
.footer .wrap {
  border-top: 1px solid #eeeeee;
  margin-top: 0.44444em;
  padding: 0.44444em 0;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* line 890, ../scss/_base.scss */
.footer-nav {
  list-style-type: none;
}

/* end .footer-links */
/*********************
WPFOLIO FEATURES
*********************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 26, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 27, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 28, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 29, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* line 104, ../scss/_481up.scss */
.single-project.single-format-video iframe {
  width: 100%;
  height: 300px;
}

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Tablet & Small Desktop Stylesheet

Hey grid, come on in!
Widemargins shortcode styles, hey!
More detailed menu styling, nice to see you!

TODO: more consistent margins and padding, modular maybe

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_768up.scss */
.wrap {
  max-width: 960px;
}

/* line 30, ../scss/_768up.scss */
.home #content, .home .footer {
  display: none;
}

/* line 35, ../scss/_768up.scss */
.widemargins {
  margin: 0 96px;
}

/*********************
HEADER STYLES
*********************/
/* line 46, ../scss/_768up.scss */
.site-title {
  text-align: left;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 58, ../scss/_768up.scss */
a.menu-link {
  display: none;
}

/* line 62, ../scss/_768up.scss */
.js nav[role=navigation] {
  max-height: none;
}

/* line 66, ../scss/_768up.scss */
nav[role=navigation] {
  clear: none;
}
/* line 69, ../scss/_768up.scss */
nav[role=navigation] ul {
  margin: 0 0 0 -0.25em;
  border: 0;
}
/* line 73, ../scss/_768up.scss */
nav[role=navigation] li {
  display: inline-block;
}
/* line 76, ../scss/_768up.scss */
nav[role=navigation] li a {
  border: 0;
}

/* line 85, ../scss/_768up.scss */
.nav li {
  float: left;
  position: relative;
}

/* line 91, ../scss/_768up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 94, ../scss/_768up.scss */
.nav li {
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 96, ../scss/_768up.scss */
.nav li a {
  border-bottom: 0;
  padding: 0.44444em 0.88889em;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 113, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 120, ../scss/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 122, ../scss/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 139, ../scss/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 161, ../scss/_768up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 182, ../scss/_768up.scss */
.project-thumb {
  height: 300px;
}

/* line 188, ../scss/_768up.scss */
.project-thumb img, .gallery-item img {
  opacity: 1;
}
/* line 191, ../scss/_768up.scss */
.project-thumb img:hover, .gallery-item img:hover {
  opacity: 0.6;
}
/* line 195, ../scss/_768up.scss */
.project-thumb img:active, .gallery-item img:active {
  opacity: 1;
}

/* line 201, ../scss/_768up.scss */
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* line 212, ../scss/_768up.scss */
.single-project.single-format-video iframe {
  width: 100%;
  height: 500px;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 227, ../scss/_768up.scss */
.widgettitle {
  text-align: left;
}

/* line 231, ../scss/_768up.scss */
.widget {
  padding: 0 12px;
  margin: 32px 0;
  border-left: #eeeeee 1px solid;
}
/* line 236, ../scss/_768up.scss */
.widget ul {
  list-style-type: none;
}
/* line 239, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 247, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 356, ../scss/_768up.scss */
.footer-nav li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}
/* line 357, ../scss/_768up.scss */
.footer-nav li a {
  padding-top: 0;
}

/* end .footer-nav */
/* line 371, ../scss/_768up.scss */
.copyright {
  text-align: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
