/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Main Stylesheet

Import all necessary libraries and call in all separate 
media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the 
rest of the styles inside media queries. 

Don't add styles here! Use a child theme.
******************************************************************/
/* line 4, ../scss/libs/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/libs/_normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../scss/libs/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/libs/_normalize.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../scss/libs/_normalize.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../scss/libs/_normalize.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../scss/libs/_normalize.scss */
a img {
  border: none;
}

/* line 12, ../scss/libs/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../scss/libs/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 19, ../scss/libs/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../scss/libs/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../scss/libs/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../scss/libs/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*
 * Doh! Stole this from 3.8. Thanks, WP, doll.
 */
/* line 22, ../scss/libs/_grid.scss */
.wrap {
  *zoom: 1;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../scss/libs/_grid.scss */
.prev {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}

/* line 30, ../scss/libs/_grid.scss */
.next {
  width: 48.57143%;
  float: right;
  margin-right: 0;
  *margin-left: -2em;
  display: inline;
  text-align: right;
}

/* Get in there, grid! At about tablet size, we add:
		- The sidebar to the news layout
		- Float the main nav to the right
*/
@media (min-width: 30.0625em) {
  /* line 46, ../scss/libs/_grid.scss */
  .project-thumb {
    width: 45.45455%;
    float: left;
    margin-right: 9.09091%;
    height: 18.75em;
  }
  /* line 48, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(3n), .project-thumb:nth-child(4n) {
    float: left;
    margin-right: 9.09091%;
  }
  /* line 49, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 33.25em) {
  /* line 55, ../scss/libs/_grid.scss */
  .project-thumb {
    height: 21em;
  }
}
@media (min-width: 40em) {
  /* line 61, ../scss/libs/_grid.scss */
  .project-thumb {
    height: 25em;
  }
}
@media (min-width: 48em) {
  /* line 71, ../scss/libs/_grid.scss */
  .project-thumb {
    width: 30.76923%;
    float: left;
    margin-right: 3.84615%;
    height: 21.875em;
  }
  /* line 73, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(2n), .project-thumb:nth-child(4n) {
    float: left;
    margin-right: 3.84615%;
  }
  /* line 74, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(3n) {
    float: right;
    margin-right: 0;
  }

  /* line 78, ../scss/libs/_grid.scss */
  .artwork-meta {
    width: 65.38462%;
    float: left;
    margin-right: 3.84615%;
  }
}
@media (min-width: 60em) {
  /* line 86, ../scss/libs/_grid.scss */
  .sidebar-layout {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 90, ../scss/libs/_grid.scss */
  .sidebar {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }

  /* line 94, ../scss/libs/_grid.scss */
  .site-name {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }

  /* line 98, ../scss/libs/_grid.scss */
  #main-nav {
    width: 65.71429%;
    float: right;
    margin-right: 0;
  }

  /* line 103, ../scss/libs/_grid.scss */
  .top-nav {
    float: right;
  }

  /* line 108, ../scss/libs/_grid.scss */
  .project-thumb {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    height: 20em;
  }
  /* line 110, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(2n) {
    float: left;
    margin-right: 2.85714%;
  }
  /* line 111, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(3n) {
    float: left;
    margin-right: 2.85714%;
  }
  /* line 112, ../scss/libs/_grid.scss */
  .project-thumb:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

  /* line 117, ../scss/libs/_grid.scss */
  .project .respond-form {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
}
/*
BASE (MOBILE) SIZE
These are the mobile styles.
I set a solid foundation 
so their aren't too many styles 
in the other stylesheets. 

Isn't that kind of like a poem?
*/
/* Base styles: Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/*
 * Doh! Stole this from 3.8. Thanks, WP, doll.
 */
/* line 15, ../scss/libs/_typography.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 19, ../scss/libs/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
}

/* line 23, ../scss/libs/_typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.66667em 0;
}

/* line 28, ../scss/libs/_typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 1.06667em 0 0.53333em 0;
}

/* line 33, ../scss/libs/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 1.45455em 0 0.72727em 0;
}

/* line 38, ../scss/libs/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

/* line 43, ../scss/libs/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.44444em 0;
}

/* line 48, ../scss/libs/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

/* line 53, ../scss/libs/_typography.scss */
p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 58, ../scss/libs/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 63, ../scss/libs/_typography.scss */
li {
  line-height: auto;
}

/* line 70, ../scss/libs/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

/* line 71, ../scss/libs/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 72, ../scss/libs/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 73, ../scss/libs/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 75, ../scss/libs/_typography.scss */
blockquote {
  padding-left: 1em;
  border-left: 0.0625em solid #eeeeee;
  line-height: normal;
  margin: 0;
}
/* line 80, ../scss/libs/_typography.scss */
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

/* line 88, ../scss/libs/_typography.scss */
a, a:visited {
  color: #aaaaaa;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 93, ../scss/libs/_typography.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #969696;
}
/* line 98, ../scss/libs/_typography.scss */
a:active, a:visited:active {
  color: #8b8b8b;
}
/* line 103, ../scss/libs/_typography.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 10, ../scss/libs/_extends.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 14, ../scss/libs/_extends.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/libs/_extends.scss */
.max-width, .entry-content img, .gallery img, .project-thumb img {
  max-width: 100%;
  height: auto;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 27, ../scss/libs/_extends.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 33, ../scss/libs/_extends.scss */
.text-left {
  text-align: left;
}

/* line 34, ../scss/libs/_extends.scss */
.text-center {
  text-align: center;
}

/* line 35, ../scss/libs/_extends.scss */
.text-right {
  text-align: right;
}

/*********************
BUTTONS
*********************/
/* line 9, ../scss/libs/_forms.scss */
label, select {
  display: block;
}

/* line 13, ../scss/libs/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 21, ../scss/libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 25, ../scss/libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 43, ../scss/libs/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  font-family: Helvetica;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5.33333px;
  margin: 0.44444em 0 0;
  border: 1px solid #eeeeee;
}
/* line 50, ../scss/libs/_forms.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus {
  border-color: #aaaaaa;
  outline: none;
}

/* line 57, ../scss/libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 71, ../scss/libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 76, ../scss/libs/_forms.scss */
input[type="submit"],
button {
  font-family: Helvetica;
  font-size: 0.75em;
  line-height: 1.33333em;
  background: #666666;
  border-color: #616161;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 118, ../scss/libs/_mixins.scss */
input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background: #525252;
  border-color: #404040;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 gray, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 gray, 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 126, ../scss/libs/_mixins.scss */
input[type="submit"]:active,
button:active {
  background: #525252;
  border-color: #404040;
  color: white;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
/* line 136, ../scss/libs/_mixins.scss */
input[type="submit"][disabled], input[type="submit"]:disabled, input[type="submit"].button-primary-disabled,
button[disabled],
button:disabled,
button.button-primary-disabled {
  color: #d1c7c7 !important;
  background: #525252 !important;
  border-color: #404040 !important;
  text-shadow: none !important;
}

/* line 81, ../scss/libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 88, ../scss/libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 10, ../scss/libs/_extends.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 14, ../scss/libs/_extends.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/libs/_extends.scss */
.max-width, .entry-content img, .gallery img, .project-thumb img {
  max-width: 100%;
  height: auto;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 27, ../scss/libs/_extends.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 33, ../scss/libs/_extends.scss */
.text-left {
  text-align: left;
}

/* line 34, ../scss/libs/_extends.scss */
.text-center {
  text-align: center;
}

/* line 35, ../scss/libs/_extends.scss */
.text-right {
  text-align: right;
}

/*********************
BUTTONS
*********************/
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 16, ../scss/_base.scss */
body {
  color: #666666;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* line 41, ../scss/_base.scss */
.attachment img {
  display: block;
  margin: 0 auto;
}

/* line 46, ../scss/_base.scss */
.attachment-meta {
  text-align: center;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/* line 79, ../scss/_base.scss */
.header {
  padding-top: 2.2em;
  text-align: center;
}

/* line 84, ../scss/_base.scss */
.site-title {
  margin: 0 0 0.22222em 0;
}
/* line 87, ../scss/_base.scss */
.site-title a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.site-title a:active, .site-title a:focus {
  outline: none;
}

/* line 92, ../scss/_base.scss */
.site-description {
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.33333em;
}

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
/* line 110, ../scss/_base.scss */
.nav li a {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
/* line 122, ../scss/_base.scss */
.nav ul.sub-menu li a,
.nav ul.children li a {
  padding-left: 30px;
}

/* line 130, ../scss/_base.scss */
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 134, ../scss/_base.scss */
.nav li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 136, ../scss/_base.scss */
.nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 193, ../scss/_base.scss */
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current-page-ancestor a {
  background-color: #eeeeee;
}

/* end .nav */
/* line 204, ../scss/_base.scss */
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

/* line 210, ../scss/_base.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 219, ../scss/_base.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/* line 224, ../scss/_base.scss */
nav[role=navigation].active {
  max-height: 15em;
}

/* line 228, ../scss/_base.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}

/* line 234, ../scss/_base.scss */
nav[role=navigation] li a {
  display: block;
  border-bottom: 1px solid #808080;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 244, ../scss/_base.scss */
#content {
  margin-top: 0.88889em;
}

/* line 248, ../scss/_base.scss */
.article-header {
  margin-bottom: 1.77778em;
}

/* line 251, ../scss/_base.scss */
.entry-title {
  margin-bottom: 0.36364em;
  font-size: 1.875em;
  line-height: 1.33333em;
}
/* line 255, ../scss/_base.scss */
.entry-title a {
  color: #666666;
}

/* line 262, ../scss/_base.scss */
.article-footer {
  margin-top: 1.77778em;
}

/* end .hentry */
/* line 274, ../scss/_base.scss */
.page-title, .project-title, .project-thumb-title, .medium-title {
  text-align: center;
}

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* line 282, ../scss/_base.scss */
.post {
  padding: 1.45455em 0;
  border-top: #eeeeee 1px solid;
}

/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 294, ../scss/_base.scss */
.byline {
  font-style: italic;
}

/* line 300, ../scss/_base.scss */
.tags, .byline {
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #999;
}

/* line 305, ../scss/_base.scss */
.tags-title {
  text-transform: uppercase;
}

/* entry content */
/* line 311, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 346, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 367, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 372, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 380, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 386, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 392, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* line 401, ../scss/_base.scss */
.gallery {
  margin: 16px 0;
}

/* end .gallery */
/* gallery caption styles */
/* line 429, ../scss/_base.scss */
.post-edit-link, .post-edit-link:visited {
  color: #e85d63;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 437, ../scss/_base.scss */
.project-title {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.77778em;
}

/* line 445, ../scss/_base.scss */
.project-thumb img {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}

/* line 452, ../scss/_base.scss */
.project-thumb-title {
  margin-bottom: 1.77778em;
  font-size: 0.875em;
  line-height: 1.71429em;
}

/* line 457, ../scss/_base.scss */
.artwork-meta {
  list-style-type: none;
}

/* line 463, ../scss/_base.scss */
.single-project.single-format-video iframe {
  width: 100%;
  height: 200px;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 475, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 478, ../scss/_base.scss */
.bones_page_navi {
  list-style-type: none;
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 480, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 484, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 491, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 500, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 505, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 516, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 519, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 528, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 571, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 575, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 586, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 603, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 605, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 613, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 617, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 635, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 639, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 644, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 658, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 661, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 676, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 679, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 687, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 690, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 694, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 704, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 729, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 732, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 741, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  font-family: Helvetica;
  font-size: 0.75em;
  line-height: 1.33333em;
  background: #222222;
  border-color: #1d1d1d;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 118, ../scss/libs/_mixins.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  background: #0e0e0e;
  border-color: black;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #3c3c3c, 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 126, ../scss/libs/_mixins.scss */
.commentlist .comment-reply-link:active {
  background: #0e0e0e;
  border-color: black;
  color: white;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
/* line 136, ../scss/libs/_mixins.scss */
.commentlist .comment-reply-link[disabled], .commentlist .comment-reply-link:disabled, .commentlist .comment-reply-link.button-primary-disabled {
  color: #d1c7c7 !important;
  background: #0e0e0e !important;
  border-color: black !important;
  text-shadow: none !important;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 754, ../scss/_base.scss */
.respond-form {
  margin-top: 1.77778em;
  padding-bottom: 0.44444em;
}
/* line 758, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 761, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 767, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 775, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 0.1875em 0.375em;
  background: #fff;
  color: #666666;
  border: 0.125em solid #cccccc;
  line-height: 1.5em;
  /* form validation */
}
/* line 782, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  border: 0.125em solid #999999;
}
/* line 787, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 800, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 805, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* line 815, ../scss/_base.scss */
#submit {
  font-family: Helvetica;
  font-size: 0.75em;
  line-height: 1.33333em;
  background: #222222;
  border-color: #1d1d1d;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 118, ../scss/libs/_mixins.scss */
#submit:hover, #submit:focus {
  background: #0e0e0e;
  border-color: black;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #3c3c3c, 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 126, ../scss/libs/_mixins.scss */
#submit:active {
  background: #0e0e0e;
  border-color: black;
  color: white;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
/* line 136, ../scss/libs/_mixins.scss */
#submit[disabled], #submit:disabled, #submit.button-primary-disabled {
  color: #d1c7c7 !important;
  background: #0e0e0e !important;
  border-color: black !important;
  text-shadow: none !important;
}

/* comment form title */
/* line 820, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 833, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 838, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 854, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 875, ../scss/_base.scss */
.footer {
  clear: both;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 880, ../scss/_base.scss */
.footer .wrap {
  border-top: 1px solid #eeeeee;
  margin-top: 0.44444em;
  padding: 0.44444em 0;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* line 896, ../scss/_base.scss */
.footer-nav {
  list-style-type: none;
}

/* end .footer-links */
/*********************
WPFOLIO FEATURES
*********************/
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
phablets.
*/
@media only screen and (min-width: 30.0625em) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  /* line 26, ../scss/_481up.scss */
  .menu {
    /* end .menu ul */
  }
  /* line 27, ../scss/_481up.scss */
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  /* line 28, ../scss/_481up.scss */
  .menu ul li {
    /*
    plan your menus and drop-downs wisely.
    */
  }
  /* line 29, ../scss/_481up.scss */
  .menu ul li a {
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  /* line 75, ../scss/_481up.scss */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  /* line 79, ../scss/_481up.scss */
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 84, ../scss/_481up.scss */
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 89, ../scss/_481up.scss */
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
  /* line 104, ../scss/_481up.scss */
  .single-project.single-format-video iframe {
    width: 100%;
    height: 300px;
  }

  /* line 111, ../scss/_481up.scss */
  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
the resource intensive styles are added, like the grid.
*/
@media only screen and (min-width: 48em) {
  /******************************************************************
  Site Name: WPFolio Three
  Author: Lara Schenck
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Hey grid, come on in!
  Widemargins shortcode styles, hey!
  More detailed menu styling, nice to see you!
  
  TODO: more consistent margins and padding, modular maybe
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 26, ../scss/_768up.scss */
  .wrap {
    max-width: 960px;
  }

  /* line 30, ../scss/_768up.scss */
  .home #content, .home .footer {
    display: none;
  }

  /* line 35, ../scss/_768up.scss */
  .widemargins {
    margin: 0 96px;
  }

  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* line 55, ../scss/_768up.scss */
  a.menu-link {
    display: none;
  }

  /* line 59, ../scss/_768up.scss */
  .js nav[role=navigation] {
    max-height: none;
  }

  /* line 63, ../scss/_768up.scss */
  nav[role=navigation] {
    clear: none;
  }
  /* line 66, ../scss/_768up.scss */
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
  /* line 70, ../scss/_768up.scss */
  nav[role=navigation] li {
    display: inline-block;
  }
  /* line 73, ../scss/_768up.scss */
  nav[role=navigation] li a {
    border: 0;
  }

  /* line 82, ../scss/_768up.scss */
  .nav li {
    float: left;
    position: relative;
  }

  /* line 88, ../scss/_768up.scss */
  .nav {
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  /* line 91, ../scss/_768up.scss */
  .nav li {
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  /* line 93, ../scss/_768up.scss */
  .nav li a {
    border-bottom: 0;
    padding: 0.44444em 0.88889em;
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }
  /* line 110, ../scss/_768up.scss */
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  /* line 117, ../scss/_768up.scss */
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
    if you need to go deeper, go nuts
    just remember deeper menus suck
    for usability. k, bai.
    */
  }
  /* line 119, ../scss/_768up.scss */
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  /* line 136, ../scss/_768up.scss */
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  /* line 158, ../scss/_768up.scss */
  .nav li:hover ul {
    top: auto;
    display: block;
  }

  /* end .nav */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* line 180, ../scss/_768up.scss */
  .project-thumb img, .gallery-item img {
    opacity: 1;
  }
  /* line 183, ../scss/_768up.scss */
  .project-thumb img:hover, .gallery-item img:hover {
    opacity: 0.6;
  }
  /* line 187, ../scss/_768up.scss */
  .project-thumb img:active, .gallery-item img:active {
    opacity: 1;
  }

  /* line 198, ../scss/_768up.scss */
  .single-project.single-format-video iframe {
    width: 100%;
    height: 500px;
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 213, ../scss/_768up.scss */
  .widgettitle {
    text-align: left;
  }

  /* line 217, ../scss/_768up.scss */
  .widget {
    padding: 0 12px;
    margin: 32px 0;
    border-left: #eeeeee 1px solid;
  }
  /* line 222, ../scss/_768up.scss */
  .widget ul {
    list-style-type: none;
  }
  /* line 225, ../scss/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 233, ../scss/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  /* line 342, ../scss/_768up.scss */
  .footer-nav li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }
  /* line 343, ../scss/_768up.scss */
  .footer-nav li a {
    padding-top: 0;
  }

  /* end .footer-nav */
  /* line 357, ../scss/_768up.scss */
  .copyright {
    text-align: right;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device.
*/
@media only screen and (min-width: 60em) {
  /******************************************************************
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
  /* line 10, ../scss/_1030up.scss */
  .header {
    text-align: left;
  }
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
Not really using it.
*/
@media only screen and (min-width: 77.5em) {
  /******************************************************************
  Site Name: WPFolio Three
  Author: Lara Schenck
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
  /* line 43, ../scss/_2x.scss */
  .nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
I didn't.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name: WPFolio Two
  Author: Lara Schenck (Eddie Machado really, I didn't change this)
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 14, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 22, ../scss/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 27, ../scss/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 32, ../scss/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 39, ../scss/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 43, ../scss/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 48, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 56, ../scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 64, ../scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 70, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 79, ../scss/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
