/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* line 4, ../scss/libs/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../scss/libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../scss/libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../scss/libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../scss/libs/_reset.scss */
a img {
  border: none;
}

/* line 12, ../scss/libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../scss/libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, ../scss/libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../scss/libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../scss/libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../scss/libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 48, ../scss/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 52, ../scss/style.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 58, ../scss/style.scss */
.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/* line 14, ../scss/libs/_typography.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 18, ../scss/libs/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
}

/* line 22, ../scss/libs/_typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.66667em 0;
}

/* line 27, ../scss/libs/_typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 1.06667em 0 0.53333em 0;
}

/* line 32, ../scss/libs/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 1.45455em 0 0.72727em 0;
}

/* line 37, ../scss/libs/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

/* line 42, ../scss/libs/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.44444em 0;
}

/* line 47, ../scss/libs/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

/* line 52, ../scss/libs/_typography.scss */
p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 57, ../scss/libs/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

/* line 62, ../scss/libs/_typography.scss */
li {
  line-height: auto;
}

/* line 69, ../scss/libs/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

/* line 70, ../scss/libs/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 71, ../scss/libs/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 72, ../scss/libs/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 74, ../scss/libs/_typography.scss */
blockquote {
  padding-left: 1em;
  border-left: 0.125em solid #eeeeee;
  line-height: normal;
  margin: 0;
}
/* line 79, ../scss/libs/_typography.scss */
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Variables, hello!

http://sass.fffunction.co/

Define a few useful values to be used throughout the stylesheet. Keeping it to three main colors for consistency.

******************************************************************/
/* line 8, ../scss/libs/_forms.scss */
label, select {
  display: block;
}

/* line 12, ../scss/libs/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 20, ../scss/libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 24, ../scss/libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 42, ../scss/libs/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 53, ../scss/libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 67, ../scss/libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 72, ../scss/libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 79, ../scss/libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/******************************************************************
Site Name: WPFolio Three
Author: Lara Schenck

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* line 14, ../scss/_base.scss */
body {
  color: #666666;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 63, ../scss/_base.scss */
.wrap {
  width: 93%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
/* line 72, ../scss/_base.scss */
a, a:visited {
  color: #666666;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 77, ../scss/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #222222;
}
/* line 82, ../scss/_base.scss */
a:active, a:visited:active {
  color: #666666;
}
/* line 87, ../scss/_base.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/*********************
HEADER STYLES
*********************/
/* line 101, ../scss/_base.scss */
.header {
  padding-top: 2.2em;
}

/* line 105, ../scss/_base.scss */
.site-info {
  text-align: center;
}

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
/* line 122, ../scss/_base.scss */
.nav li a {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
/* line 134, ../scss/_base.scss */
.nav ul.sub-menu li a,
.nav ul.children li a {
  padding-left: 30px;
}

/* line 142, ../scss/_base.scss */
.top-nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 146, ../scss/_base.scss */
.top-nav li {
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
/* line 148, ../scss/_base.scss */
.top-nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
/* line 205, ../scss/_base.scss */
.top-nav li.current-menu-item a,
.top-nav li.current_page_item a,
.top-nav li.current-page-ancestor a {
  background-color: #444444;
}

/* end .nav */
/*! responsive-nav.js v1.0.22 by @viljamis */
/* line 217, ../scss/_base.scss */
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 224, ../scss/_base.scss */
.nav-collapse,
.nav-collapse ul {
  list-style: none;
}

/* line 228, ../scss/_base.scss */
.nav-collapse li {
  float: left;
  width: 100%;
}

/* line 233, ../scss/_base.scss */
.nav-collapse ul ul a {
  background: #eeeeee;
  padding-left: 2em;
}

/* line 238, ../scss/_base.scss */
.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #222222 url("../images/hamburger.gif") no-repeat 50% 33%;
}

/* line 252, ../scss/_base.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

/* line 259, ../scss/_base.scss */
.nav-collapse li {
  width: 100%;
  display: block;
}

/* line 264, ../scss/_base.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 273, ../scss/_base.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 277, ../scss/_base.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 291, ../scss/_base.scss */
#content {
  margin-top: 2.2em;
}

/* end .hentry */
/* line 304, ../scss/_base.scss */
.single-title,
.page-title {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.77778em;
}

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 329, ../scss/_base.scss */
.byline {
  color: #999;
}

/* entry content */
/* line 336, ../scss/_base.scss */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
/* line 371, ../scss/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 378, ../scss/_base.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 394, ../scss/_base.scss */
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
/* line 399, ../scss/_base.scss */
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}

/* end .entry-content */
/* line 407, ../scss/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 413, ../scss/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 419, ../scss/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 457, ../scss/_base.scss */
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}

/* line 460, ../scss/_base.scss */
.bones_page_navi {
  list-style-type: none;
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
/* line 462, ../scss/_base.scss */
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
/* line 466, ../scss/_base.scss */
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 473, ../scss/_base.scss */
.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
/* line 482, ../scss/_base.scss */
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
/* line 487, ../scss/_base.scss */
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
/* line 498, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
/* line 501, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
/* line 510, ../scss/_base.scss */
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 553, ../scss/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 557, ../scss/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 568, ../scss/_base.scss */
#comments {
  /* number of comments span */
}

/* line 585, ../scss/_base.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
/* line 587, ../scss/_base.scss */
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
/* line 595, ../scss/_base.scss */
.commentlist li:last-child {
  margin-bottom: 0;
}
/* line 599, ../scss/_base.scss */
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 617, ../scss/_base.scss */
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
/* line 621, ../scss/_base.scss */
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 626, ../scss/_base.scss */
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
/* line 640, ../scss/_base.scss */
.commentlist .odd {
  background: #eee;
}
/* line 643, ../scss/_base.scss */
.commentlist .even {
  background: #fefefe;
}
/* line 658, ../scss/_base.scss */
.commentlist .vcard {
  margin-left: 50px;
}
/* line 661, ../scss/_base.scss */
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 669, ../scss/_base.scss */
.commentlist .vcard time {
  float: right;
}
/* line 672, ../scss/_base.scss */
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
/* line 676, ../scss/_base.scss */
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
/* line 686, ../scss/_base.scss */
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
/* line 711, ../scss/_base.scss */
.commentlist .comment_content {
  margin-left: 50px;
}
/* line 714, ../scss/_base.scss */
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 723, ../scss/_base.scss */
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
/* line 735, ../scss/_base.scss */
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 747, ../scss/_base.scss */
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
/* line 751, ../scss/_base.scss */
.respond-form form {
  margin: 0.75em 0;
}
/* line 754, ../scss/_base.scss */
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
/* line 760, ../scss/_base.scss */
.respond-form form li label,
.respond-form form li small {
  display: none;
}
/* line 768, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
/* line 774, ../scss/_base.scss */
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
/* line 779, ../scss/_base.scss */
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* line 792, ../scss/_base.scss */
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
/* line 797, ../scss/_base.scss */
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}

/* comment submit button */
/* comment form title */
/* line 810, ../scss/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 823, ../scss/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 828, ../scss/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 844, ../scss/_base.scss */
.widget ul li {
  /* deep nesting */
}

/*********************
FOOTER STYLES
*********************/
/* line 865, ../scss/_base.scss */
.footer {
  clear: both;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 869, ../scss/_base.scss */
.footer .wrap {
  border-top: 1px solid #eeeeee;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* line 883, ../scss/_base.scss */
.footer-nav {
  list-style-type: none;
}

/* end .footer-links */
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 30.0625em) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  /* line 26, ../scss/_481up.scss */
  .menu {
    /* end .menu ul */
  }
  /* line 27, ../scss/_481up.scss */
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  /* line 28, ../scss/_481up.scss */
  .menu ul li {
    /*
    plan your menus and drop-downs wisely.
    */
  }
  /* line 29, ../scss/_481up.scss */
  .menu ul li a {
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  /* line 75, ../scss/_481up.scss */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  /* line 79, ../scss/_481up.scss */
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 84, ../scss/_481up.scss */
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 89, ../scss/_481up.scss */
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 48em) {
  /******************************************************************
  Site Name: WPFolio Three
  Author: Lara Schenck
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  /* line 24, ../scss/libs/_grid.scss */
  .onecol {
    width: 5.801104972%;
  }

  /* 4.85%;  } /* grid_1  */
  /* line 25, ../scss/libs/_grid.scss */
  .twocol {
    width: 14.364640883%;
  }

  /* 13.45%; } /* grid_2  */
  /* line 26, ../scss/libs/_grid.scss */
  .threecol {
    width: 22.928176794%;
  }

  /* 22.05%; } /* grid_3  */
  /* line 27, ../scss/libs/_grid.scss */
  .fourcol {
    width: 31.491712705%;
  }

  /* 30.75%; } /* grid_4  */
  /* line 28, ../scss/libs/_grid.scss */
  .fivecol {
    width: 40.055248616%;
  }

  /* 39.45%; } /* grid_5  */
  /* line 29, ../scss/libs/_grid.scss */
  .sixcol {
    width: 48.618784527%;
  }

  /* 48%;    } /* grid_6  */
  /* line 30, ../scss/libs/_grid.scss */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* 56.75%; } /* grid_7  */
  /* line 31, ../scss/libs/_grid.scss */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* 65.4%;  } /* grid_8  */
  /* line 32, ../scss/libs/_grid.scss */
  .ninecol {
    width: 74.30939226%;
  }

  /* 74.05%; } /* grid_9  */
  /* line 33, ../scss/libs/_grid.scss */
  .tencol {
    width: 82.87292817100001%;
  }

  /* 82.7%;  } /* grid_10 */
  /* line 34, ../scss/libs/_grid.scss */
  .elevencol {
    width: 91.436464082%;
  }

  /* 91.35%; } /* grid_11 */
  /* line 35, ../scss/libs/_grid.scss */
  .twelvecol {
    width: 99.999999993%;
  }

  /* 100%;   } /* grid_12 */
  /* line 38, ../scss/libs/_grid.scss */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  /* line 44, ../scss/libs/_grid.scss */
  .first {
    margin-left: 0;
  }

  /* line 48, ../scss/libs/_grid.scss */
  .last {
    float: right;
  }

  /******************************************************************
  Site Name: WPFolio Three
  Author: Lara Schenck
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /*********************
  HEADER STYLES
  *********************/
  /* line 35, ../scss/_768up.scss */
  .site-info {
    text-align: left;
  }

  /*********************
  NAVIGATION STYLES
  *********************/
  /* line 46, ../scss/_768up.scss */
  .nav li {
    float: left;
    position: relative;
  }

  /* line 51, ../scss/_768up.scss */
  .top-nav {
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  /* line 54, ../scss/_768up.scss */
  .top-nav li {
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  /* line 56, ../scss/_768up.scss */
  .top-nav li a {
    border-bottom: 0;
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }
  /* line 63, ../scss/_768up.scss */
  .top-nav li a:hover, .top-nav li a:focus {
    background-color: #eeeeee;
  }
  /* line 76, ../scss/_768up.scss */
  .top-nav li ul.sub-menu,
  .top-nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  /* line 84, ../scss/_768up.scss */
  .top-nav li ul.sub-menu li,
  .top-nav li ul.children li {
    /*
    if you need to go deeper, go nuts
    just remember deeper menus suck
    for usability. k, bai.
    */
  }
  /* line 86, ../scss/_768up.scss */
  .top-nav li ul.sub-menu li a,
  .top-nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  /* line 103, ../scss/_768up.scss */
  .top-nav li ul.sub-menu li:last-child a,
  .top-nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  /* line 125, ../scss/_768up.scss */
  .top-nav li:hover ul {
    top: auto;
    display: block;
  }

  /* end .nav */
  /* line 142, ../scss/_768up.scss */
  .top-nav {
    float: right;
  }

  /*! responsive-nav.js v1.0.22 by @viljamis */
  /* line 149, ../scss/_768up.scss */
  .nav-collapse li {
    width: auto;
  }

  /* line 153, ../scss/_768up.scss */
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
  }

  /* line 163, ../scss/_768up.scss */
  .nav-collapse ul ul a {
    display: none;
  }

  /* line 168, ../scss/_768up.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 172, ../scss/_768up.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 176, ../scss/_768up.scss */
  .nav-toggle {
    display: none;
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 185, ../scss/_768up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 189, ../scss/_768up.scss */
  .widgettitle {
    margin-bottom: 0.75em;
  }

  /* line 193, ../scss/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 198, ../scss/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 206, ../scss/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  /* line 315, ../scss/_768up.scss */
  .footer-nav li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }
  /* line 316, ../scss/_768up.scss */
  .footer-nav li a {
    padding-top: 0;
  }

  /* end .footer-nav */
  /* line 330, ../scss/_768up.scss */
  .copyright {
    text-align: right;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 64.375em) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
  /* line 12, ../scss/_1030up.scss */
  .wrap {
    max-width: 960px;
  }
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 77.5em) {
  /******************************************************************
  Site Name: WPFolio Three
  Author: Lara Schenck
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
  /* line 43, ../scss/_2x.scss */
  .nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 15, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, ../scss/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 28, ../scss/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 33, ../scss/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 40, ../scss/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 44, ../scss/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 49, ../scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 53, ../scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 57, ../scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 65, ../scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 80, ../scss/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
