
// Grid Stylesheet
// Susy! http://susy.oddbird.net/

// Susy settings

$container-width: $desktop;
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 2em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$container-style: fluid;
$from-direction : ltr;
$omega-float	: $from-direction;

$susy: (
  // the basics
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,

  // advanced
  container: $container-width,
  math: if($container-style == magic, fluid, $container-style),
  flow: if($from-direction == right, rtl, ltr),
  last-flow: if($omega-float == $from-direction, from, to),
);

.wrap {
	@include container;
	max-width: $desktop;
}

.project-thumb { @include gallery(1, 1); }

// Small screens
@include bp(baby) {
	.project-thumb { @include gallery(2); }
}

// Tablet size
@include bp(mama) {

	.prev  {
		@include columns(3 alpha);
	}

	.nav-meta {
		@include columns(6);
	}

	.next {
		@include columns(3 omega);
		text-align: right;
	}

	.project-thumb {
		@include gallery(4);
	}


}


// Computer screen size
@include bp(papa) {

	.standard-layout #main {
	 	@include columns(8);
	}

	.sidebar {
		@include columns(4 omega);
	}
	
	.sidebar-layout {
		@include columns(8);
	}

	.site-name {
		@include columns(4);
	}

	.site-nav {
		@include columns(8 omega);
	}

	// Make the list float right too
	.top-nav {
		@include omega;
	}

	// Comments

	.single-project, .page {
		.commentlist, .respond-form {
			@include columns(8);
			@include post(4);
		}
	}

	.sidebar-layout {
		.respond-form, .commentlist {
			@include columns(12);
		}
	}

	.widemargins {
		@include prefix(1);
		@include suffix(1);
	}

}
