
// Grid Stylesheet
// Susy! http://susy.oddbird.net/

// Susy settings

// advanced
$container-width: false;
$container-style: magic;
$from-direction: left;
$omega-float: right;

// media-query fallbacks
$breakpoint-media-output: true;
$breakpoint-ie-output: true;
$breakpoint-raw-output: false;


$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;
$container-style: fluid;
$container-width: $desktop;

$susy: (
	columns: $total-columns,
	gutters: $gutter-width / $column-width,
	column-width: $column-width,

	container: $container-width,
	math: if($container-style == magic, fluid, $container-style),
	flow: if($from-direction == right, rtl, ltr),
	last-flow: if($omega-float == $from-direction, from, to),

	debug: (
		image: show,
		color: rgba(122,122,122,0.3),
		output: overlay,
		toggle: top right,
	),
);


.wrap {
	@include container($total-columns);
	max-width: $desktop;
	padding: 0 $h3;

	@include bp(papa) {
		padding: 0;
	}
}

.project-thumb { @include gallery(1, 1); }

// Small screens
@include bp(baby) {
	.project-thumb { @include gallery(2); }
}

// Tablet size
@include bp(mama) {

	.prev  {
		@include span(1 of 4 alpha);
	}

	.nav-meta {
		@include span(2 of 4);
	}

	.next {
		@include span(1 of 4 omega);
		text-align: right;
	}

	.project-thumb {
		@include gallery(4);
	}


}


// Computer screen size
@include bp(papa) {

	.standard-layout #main {
	 	@include span(8 of 12);
	}

	.sidebar {
		@include span(4 of 12 omega);
	}

	.sidebar-layout {
		@include span(8 of 12);
	}

	.site-name {
		@include span(4 of 12);
	}

	.site-nav {
		@include span(8 of 12 omega);
	}

	// Make the list float right too
	.top-nav {
		@include omega;
	}

	// Comments

	.portfolio-layout {
		.comment-respond, .commentlist {
			@include span(8 of 12);
			@include post(4);
		}
	}

	.widemargins {
		@include prefix(2);
		@include suffix(2);
	}

}
