
// Text alignment

%text-left   { text-align: left; }
%text-center { text-align: center; }
%text-right  { text-align: right; }


// Remove text decoration from links

%unstyled-link {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

// Keep the thumb titles from overflowing on mobile

%line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
}



// Mobile Utilities to be added on classes

.mobile-hide {
	display: none;	

	@include bp(mama) {
		display: block;	
	}
}

.mobile-show {
	display: block;

	@include bp(mama) {
		display: none;	
	}
}