
//
// Set up useful variables and base sizes
// Modified http://sass.fffunction.co/
//


// Breakpoints

$mobile 		: 25em;
$tablet 		: 48em;
$desktop 		: 69em;


// Colors
// ------------------------------------------------------------

$black:             		#000;
$white:             		#fff;


// Define the main color palette

$primary:					#666;
$secondary:					#999;
$tertiary:					#444;


// Assign colors to variable roles

$base-color: 				$primary;

$link-color:				#aaa;
$link-hover:				darken($link-color, 8%);
$link-active:				darken($link-color, 12%);

$accent-light:				#eee;
$accent:					$secondary;
$accent-med:				darken($accent-light, 10%);


// Links

$action:					$primary;
$action-respond: 			$secondary;
$secondary-action:			$action-respond;
$secondary-action-respond:	$action;

$current-menu-item:			$accent-light;
$menu-item-hover: 			darken($accent-light, 10%);


// Alerts, errors and UI interface

$alert-yellow:      		#ebe16f;
$alert-red:         		#fbe3e4;
$alert-green:       		#e6efc2;
$alert-blue:        		#d5edf8;

$btn-color:					$accent-light;



// Fonts, measure, leading and typefaces
// ------------------------------------------------------------

// Font families
$sans-serif:        		"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             		"Georgia", Cambria, Times New Roman, Times, serif;

$primary-font:				$sans-serif;
$secondary-font:			$sans-serif;


// Define some font sizes to be used for
// margins and whatnot as well

$base:  			1rem;
$line-height-base: 	1.5;
$sml:  				$base*0.8;

$h1:  				$base*2.8;
$h2:  				$base*1.8;
$h3:  				$base*1.6;
$h4:  				$base*1.2;
$h5:  				$base;
$h6:  				$sml;


// ----
// ---- Utilities
// ----
$accent-border: $accent-light 1px solid;

